<div class="profile-contain d-flex">
  <div class="edit-profile">

      <div class="form-inputs">
        <%= link_to profile_path do %>
          <i class="fa-solid fa-arrow-left", style="color: white"></i>
        <% end %>

        <h3>Edit Profile</h3>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <%= @user.errors.as_json %>
          <h4 class="profile-username1"><%= @user.email %></h4>
          <div class="profile-pic"><%= f.input :photo, as: :file %></div>
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :username,
                      hint: "",
                      required: false,
                      input_html: { autocomplete: "Username" } %>
          <%= f.input :current_password,
                      hint: "",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :bio,
                      hint: "",
                      required: false,
                      input_html: { autocomplete: "About me" } %>
          <%= f.input :interests,
                      hint: "",
                      required: false,
                      input_html: { autocomplete: "Interests" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class:"update-btn" %>
        </div>
        <% end %>
  </div>
</div>
