<div class="profile-contain d-flex">

  <h1 class="prof">Profile</h1>

  <div class="profile-info d-flex" >
    <div class="profile-pic"><%= image_tag "avatar-kurt.png", class:"logo-white" %><%#= cl_image_tag @user.photo.key, height: 80px, width: 80px, crop: :fill %></div>
    <div class="info-user">
      <h2 class="profile-username"><%= @user.email %></h2>
      <h3 class="profile-email"><%=  @user.email %></h3>
      <h4 class=""><%= link_to profile_edit_path(@user) do %>
        <a class="edit-profile-btn">Edit Profile</a>
      <% end %>
    </div>
  </div>

  <div class="profile-header py-2 px-4">
    <h3 class="profile-bio">About me:</h3>
      <p>Kurt Donald Cobain was an American musician who was the founder, lead vocalist, guitarist and primary songwriter of the rock band Nirvana.
      Through his angst-fueled songwriting and anti-establishment persona, Cobain's compositions widened the thematic conventions of mainstream rock.
      He was heralded as a spokesman of Generation X and is highly recognized as one of the most influential alternative rock musicians.<%= @user.bio %></p>
    <h3 class="profile-interests">Interests:</h3>
      <ul>
        <li class="interest-li">Grunge<%= @user.interests %></li>
      </ul>
  </div>
</div>
