


<div class="footer-main">
  <div class="footer-buttons">
      <%= link_to posts_path do %>
        <%= image_tag "1.png", class:"footerbar" %>
      <% end %>
      <%= link_to search_posts_path do %>
        <%= image_tag "2.png", class:"footerbar" %>
      <% end %>
      <%= link_to "", href="#" %>
        <%= image_tag "3.png", class:"footerbar" %>
  </div>
</div>
