<div class="connect-page">

  <div class="logo-connect">
    <%= image_tag("logo_light.png", width: 120) %>
  </div>

  <div class="yessir">
    <div class="connect-spotify">
      <div class="status-connect"><%= user_signed_in? ? "Signed in with:  #{current_user.email}" : "Not signed in" %></div>
    </div>
  </div>

  <div class="button-spotify-connect d-flex">
    <% if user_signed_in? && current_user.provider.nil? %>
      <%= render "spotify_connect" %>
  </div>
      <% else %>
        <%= link_to "Continue", search_posts_path, class:"continue-button"%>
    <% end %>


</div>

<div class="button-spotify-connect d-flex">
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"continue-button"%>
</div>
