<div class="login-page">

  <div class="tree-info">
    <div class="devise-info-text">
      <h1>SHARE YOUR <span style="color: rgba(4, 33, 2, 1);"> MUSIC,</span> SHARE YOUR <span style="color: rgba(4, 33, 2, 1);"> EMOTIONS!</span></h1>
    </div>
    <%= image_tag("logo_light.png", width: 100) %>
  </div>

  <div class="login row justify-content-center">
    <div class="col-11">
      <h2>Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
        data: {turbo: false}) do |f| %>
        <div class="login-form">
          <div class="user-email">
            <%= f.input :email,
                        label: false,
                        required: false,
                        autofocus: true,
                        input_html: { placeholder: "Email", class:"inputs", style: 'height: 50px;'} %>
          </div>
          <div class="user-password">
            <%= f.input :password,
                        label:false,
                        required: false,
                        input_html: { placeholder: "Password", class:"inputs", style: 'height: 50px;' } %>
            <div class="remember">
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <div class="signup-button">
            <%= link_to "Sign up", new_registration_path(resource_name), style:"font-weight: 600; font-size: 20px;" %>
          </div>
          <div class="login-button">
            <%= f.button :submit, "Log in", style:"font-weight: 600; font-size: 20px;" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
