<div class="feed-container row justify-content-center" data-controller="spotify">
<div class="navbar">
  <%= image_tag "favicon.png", class: "navbar-logo" %>

  <%= image_tag "avatar-kurt.png", class: "navbar-avatar" %>
</div>
<div class="col-10">
  <div class="opener">
    <p class="opener-text">Discover new songs from your friends:</p>
  </div>
  <div class="cards-container">
    <% @posts.each do |post| %>
      <% if post.spotify_track_id %>
      <div class="card-category">
        <% track = RSpotify::Track.find(post.spotify_track_id) %>
        <div class="card-comment d-flex">
          <%= image_tag "avatar-kurt.png", class: "avatar" %>
          <div class="card-user-info">
            <h6><strong><%= current_user.email %></strong></h6>
            <div class="post-content">
              <%= post.content %>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <% if post.album_cover_url %>
            <div class="card-album-cover">
              <%= image_tag(post.album_cover_url) %>
            </div>
          <% end %>
          <div class="card-info">
            <div class="info-band">
              <p class="track-name"><strong><%= track.name %></strong></p>
              <p><%= track.artists.first.name %></p>
              <p><%= track.album.name %></p>
            </div>
              <div class="icons">
                <i class="fa-regular fa-heart"></i>
                <%= link_to post_path(post) do %>
                  <i class="fa-regular fa-comment"></i>
                <% end %>
                <button type="button" class="btn btn-primary-transparent" data-bs-toggle="modal" data-bs-target="#modal-<%= post.id %>">
                  <i class="fa-solid fa-play"></i>
                </button>
                <i class="fa-brands fa-spotify"></i>
              </div>
          </div>
        </div>
      <% end %>
      </div>
    <%= render "song_modal", post: post, track: track %>
    <% end %>
  </div>
</div>
</div>
<div class="footerbar">
  <div class="footer-img">
    <%= image_tag "footer bar.png" %>
  </div>
</div>
  <div class="footer-buttons">
      <%= link_to posts_path do %>
        <div class="home-button">
        </div>
      <% end %>
      <%= link_to search_posts_path do %>
        <div class="post-button1">
        </div>
      <% end %>
      <%= link_to "", href="#" %>
        <div class="chat-button">
        </div>
  </div>
