<div class="feed-container row justify-content-center" data-controller="spotify">
<div class="col-10">
  <div class="opener">
    <p class="opener-text">Discover new songs from your friends:</p>
  </div>
  <div class="cards-container">
    <% @posts.each do |post| %>
      <% if post.spotify_track_id %>
      <div class="card-category">
        <% track = RSpotify::Track.find(post.spotify_track_id) %>
        <div class="card-comment d-flex">
          <%= image_tag "avatar-kurt.png", class: "avatar" %>
          <div class="card-user-info">
          <h6><strong><%= current_user.email %></strong></h6>
          <%= post.content %>
          </div>
        </div>
        <div class="d-flex">
          <% if post.album_cover_url %>
            <div class="card-album-cover">
              <%= image_tag(post.album_cover_url) %>
            </div>
          <% end %>
          <div class="card-info">
            <div>
              <p class="track-name"><strong><%= track.name %></strong></p>
              <p><%= track.artists.first.name %></p>
              <p><%= track.album.name %></p>
            </div>
              <div class="icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-comment"></i>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-<%= post.id %>">
                  <i class="fa-solid fa-play"></i>
                </button>
                <h6><i class="fa-brands fa-spotify"></i></h6>
              </div>
          </div>
        </div>
      <% end %>
      </div>
    <%= render "song_modal", post: post, track: track %>
    <% end %>
  </div>
</div>
</div>
