<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#toggle-btn").click(function(){
        $("#toggle-example").collapse('toggle'); // toggle collapse
      });
    });
  </script>
</head>

<body>

  <div class="show-page">
    <div class="user-call">
      <%= current_user.username %>,
    </div>
    <div>
      Leave your comment here:
    </div>

    <div class="comments-section">

      <div class="all-comments">
        <div class="commented-ones" id="toggle-btn" data-toggle="collapse" data-target="#toggle-example">
          See all comments
        </div>
        <div id="toggle-example" class="collapse">
        <ul><% @post.comments.each do |comment| %>
            <li><%= comment.user.username %> said: <%= comment.content %></li>
        <% end %></ul>
         </div>
      </div>

      <div class="new-comment">
        <%= simple_form_for [@post, @comment] do |f| %>
          <%= f.input :content, label: false, placeholder: "Write a comment", class: "input-comment" %>
          <div class="button-comment"><%= f.button :submit, ">>" %></div>
        <% end %>
      </div>

    </div>
  </div>
</body>
