  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#toggle-btn").click(function(){
        $("#toggle-example").collapse('toggle'); // toggle collapse
      });
    });
  </script>


  <div class="show-page d-flex">
    <div class="user-info">
      <div class="user-call">
        <%= current_user.username %>,
      </div>
      <div class="leave-comment">
        Leave your comment here:
      </div>
    </div>
    <div class="comments-section">

      <div class="all-comments mb-3">
        <div class="commented-ones" id="toggle-btn" data-toggle="collapse" data-target="#toggle-example">
          See all comments
        </div>
        <div id="toggle-example" class="collapse">
        <ul class="ul-comment"><% @post.comments.each do |comment| %>
            <li><span class="username-say"><%= comment.user.username %> said:</span> <span class="said"><%= comment.content %></span></li>
        <% end %></ul>
         </div>
      </div>

      <div class="new-comment">
        <%= simple_form_for [@post, @comment] do |f| %>
        <div class="d-flex">
          <%= f.input :content, label: false, placeholder: "Write a comment" %>
          <%= f.button :submit, ">>", class: "button-comment" %>

        </div>
        <% end %>
      </div>

    </div>
  </div>
