<!DOCTYPE html>
<html>
  <head>
    <title>TreeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png", sizes: "128x128" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="page-container <%= "custom-container" if action_name == "new" && controller_name == "sessions" %>">
      <% unless (controller_name == 'pages' && action_name == 'landing_page') ||
                (controller_name == 'pages' && action_name == 'home') ||
              (controller_name == 'sessions' && action_name == 'new')  ||
              (controller_name == 'registrations' && action_name == 'new')  %>

        <%= render "shared/navbar" %>
          <main id="main-content" style="<%= "min-height: 100vh" if action_name == "new" && controller_name == "sessions" %>">
            <%= yield %>
          </main>
        <%= render "shared/footer" %>
      <% else %>
        <main id="main-content">
          <%= yield %>
        </main>
      <% end %>
    </div>
  </body>
</html>
