<!DOCTYPE html>
<html>
  <head>
    <title>TreeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png", sizes: "128x128" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <%= yield %>

    <%# <%= render "shared/footerbar" %>

  </body>
</html>
